body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1{
  color: #66BFBF;
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 1px auto ;
  line-height: 2;
}
h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;
}
h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
hr{
  border: dotted #EAF6F6 6px;
  border-color: grey;
  border-bottom: none;
  border-width: thick;
  width: 5%;
  margin: 50px auto;
}
p{
  line-height: 2;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.pro{
  margin: auto;
}
.contact-message{
  width: 30%;
  margin: 30px auto;
}
.skill-row{
  width: 50%;
  margin: 20px auto 20px auto;
  text-align: left;
  line-height: 2;
}
.butterfly{
  width: 25%;
  height: 25%;
  float: right;
  margin-left: 30px;
}
.fire{
  width: 25%;
  height: 25%;
  float: left;
  margin-right: 30px;
}
.intro{
  width: 30%;
  margin: 20px auto 20px auto;
}
.top-continer{
  position: relative;
  background-color: #CDF0EA;
  padding-top: 50px;
}
.middle-container{
  padding-bottom: 50px;
  background-color: #F9F9F9;
}
.bottom-container{
  padding: 50px 0 20px;
  background-color: #ECC5FB;
}
.top-cloud{
  position: absolute;
  top: 50px;
  right: 200px;
}
.bottom-cloud{
  position: absolute;
  left: 200px;
  bottom: 300px;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 10px 0;
}
.footer-link{
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.btn{
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 17px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover{
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
